---
import Code from "../../components/Code.astro";
import Articlep from "../../components/Articlep.astro";
import Layout from "../../layouts/Layout.astro";
import Addimagen from "../../components/Addimagen.astro";
const htmlLang = "language-html line-numbers";
const cssLang = "language-css line-numbers";

const codigo1=`selector {
    padding: valor;
  }`;
const codigo2=`
/* Aplicará 10px de relleno en todos los lados */
padding: 10px;

`;
const codigo3=`
/* Aplicará 10px de relleno en la parte superior e inferior
 y 20px en la izquierda y derecha */
padding: 10px 20px;
`;
const codigo4=`
/*parte superior, izquierda/derecha y parte inferior*/
padding: 10px 20px 15px;
`;
const codigo5=`
/* Aplicará 10px de relleno en la parte superior,
 20px en la derecha, 15px en la parte inferior y
  5px en la izquierda */
padding: 10px 20px 15px 5px; 
`;
const codigo6=`.mi-elemento {
  width: 200px;
}
`;

const codigo7=`.mi-elemento {
  width: 50%;
}
`;
const codigo8=`.mi-elemento {
  height: 100px;
}
`;
const codigo9=`.mi-elemento {
  height: 50%;
}
`;
const codigo10=`.ejemplo {
  margin: 20px;
}
`;
const codigo11=`.ejemplo {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 15px;
  margin-left: 5px;
}
`;
const codigo12=`.ejemplo {
  margin: 10px 20px 15px 5px;
}
`;
const codigo13=`border-width: 2px;`;
const codigo14=`border-style: dashed;
`;
const codigo15=`
border-top-style: none; 
border-top-style: hidden;
border-top-style: dotted;
border-top-style: dashed;
border-top-style: solid;
border-top-style: double;
border-top-style: groove;
border-top-style: ridge;
border-top-style: inset;
border-top-style: outset;
`;
const codigo16=`/* Establece diferentes estilos de borde para cada lado */
border-top-style: solid;      /* Borde superior sólido */
border-right-style: dotted;   /* Borde derecho punteado */
border-bottom-style: dashed;  /* Borde inferior discontinuo */
border-left-style: double;    /* Borde izquierdo doble */
`;
const codigo17=`border-width: 2px 1px;
`;
const codigo18=`border-width: 2px 1px 3px;
`;
const codigo19=`border-width: 2px 1px 3px 4px;
`;
const codigo20=`/* Establecer diferentes anchos de borde para cada lado del elemento */
border-top-width: 10px;
border-right-width: 5px;
border-bottom-width: 1px;
border-left-width: 15px;
`;
const codigo21=`border-color: #FF0000; 
/* Establece el color rojo para todos los lados */
`;
const codigo22=`border-color: #FF0000 #00FF00; 
/* Rojo en los lados superior e inferior,
 verde en los lados izquierdo y derecho */
`;
const codigo23=`border-color: #FF0000 #00FF00 #0000FF; 
/* Rojo en el lado superior,
 verde en los lados izquierdo/derecho, azul en el lado inferior */
`;
const codigo24=`border-color: #FF0000 #00FF00 #0000FF #FFFF00;
 /* Rojo en el lado superior,
  verde en el lado derecho,
   azul en el lado inferior,
    amarillo en el lado izquierdo */
`;
const codigo25=`/* Establecer colores de borde para cada lado */
border-top-color: #FF0000;    /* Rojo para el borde superior */
border-right-color: #00FF00;  /* Verde para el borde derecho */
border-bottom-color: #0000FF; /* Azul para el borde inferior */
border-left-color: #FFFF00;   /* Amarillo para el borde izquierdo */
`;
const codigo26=`border: 2px solid #FF0000;
/* Borde de 2 píxeles de ancho, sólido y de color rojo */
`;
const codigo27=`border: 1px dashed #00FF00 2px double #0000FF 3px groove #FFFF00 4px;
`;
const codigo28=``;

---



<Layout title="box-model">
    <main>
        <h1 class="title-h1">MODELO DE CAJA (BOX-MODEL)</h1>
        <Articlep>
            <h2 class="title-h2">¿Qué es el modelo de cajas en css?</h2>
            <p class="parrafo"> El modelo de cajas en CSS es una forma de entender cómo se comportan y se presentan los elementos HTML en una página web. Cada elemento en una página web es considerado una "caja" que tiene varias propiedades que determinan su tamaño, posición, márgenes, relleno y borde. Estas propiedades son fundamentales para controlar la apariencia y el diseño de los elementos en la página. </p>
            <p class="parrafo"> El modelo de cajas consta de cuatro componentes principales: </p>
            <ol class="parrafo">
                <li><span class="res">Contenido (Content):</span> Es el contenido real del elemento, como texto, imágenes, videos, etc. Este es el contenido que se muestra dentro de la caja.</li>
                <li><span class="res">Relleno (Padding):</span> Es el espacio entre el contenido y el borde de la caja. Puedes pensar en él como un espacio en blanco que rodea el contenido. Se utiliza para separar el contenido del borde.</li>
                <li><span class="res">Borde (Border):</span> Es una línea que rodea el relleno y el contenido. Puedes definir su estilo, grosor y color. El borde separa visualmente el contenido de su entorno.</li>
                <li><span class="res">Margen (Margin):</span> Es el espacio fuera del borde de la caja. Se utiliza para controlar la distancia entre esta caja y otras cajas adyacentes.</li>
            </ol>
            <p class="parrafo"> Para controlar estas propiedades y el diseño de una caja en CSS, puedes utilizar las siguientes propiedades: </p>
            <ul class="parrafo">
                <li><span class="res">width y height:</span> Establecen el ancho y alto del contenido de la caja.</li>
                <li><span class="res">padding:</span> Define el espacio entre el contenido y el borde.</li>
                <li><span class="res">border:</span> Controla el estilo, grosor y color del borde.</li>
                <li><span class="res">margin:</span> Define el espacio entre la caja y otras cajas cercanas.</li>
            </ul>

            <div class="img">
            <img src="../../assets/boxcss.svg" height="250px">
            </div>
            
        </Articlep>
        
        <Articlep>
            <h2 class="title-h2">Padding</h2>
            <p class="parrafo"> en CSS es una propiedad que controla el espacio entre el contenido de un elemento y su borde. Proporciona un espacio en blanco dentro del elemento, creando un margen interno entre el contenido y el borde. Aquí está la sintaxis básica: </p>
            <Code codigo={codigo1} typeLan={cssLang}></Code>
            <p class="parrafo"> Donde selector es el selector de los elementos a los que deseas aplicar el padding, y valor es la cantidad de espacio que deseas aplicar. </p>
            <h3 class="title-h3">Atributos del padding</h3>
            <p class="parrafo"> padding-top, padding-right, padding-bottom, padding-left: Estos atributos permiten establecer el valor de relleno individualmente para cada lado del elemento. </p>
            <ul class="parrafo">
                <li><span class="res">padding-top:</span> Define el espacio entre el borde superior del elemento y su contenido.</li>
                <li><span class="res">padding-right:</span> Define el espacio entre el borde derecho del elemento y su contenido.</li>
                <li><span class="res">padding-bottom:</span> Define el espacio entre el borde inferior del elemento y su contenido.</li>
                <li><span class="res">padding-left:</span> Define el espacio entre el borde izquierdo del elemento y su contenido.</li>
            </ul>
            
            <p class="parrafo"> <span class="res">Un solo valor:</span> Si se especifica un solo valor, se aplicará a todos los lados del elemento. Por ejemplo:</p>
            <Code codigo={codigo2} typeLan={cssLang}></Code>
            <p class="parrafo"><span class="res">Dos valores:</span> Si se especifican dos valores, se aplicarán al borde superior e inferior y al borde izquierdo y derecho, respectivamente. El primer valor corresponde a la parte superior y la inferior, y el segundo valor corresponde a la izquierda y la derecha. Por ejemplo:</p>
            <Code codigo={codigo3} typeLan={cssLang}></Code>
            <p class="parrafo"> <span class="res">Tres valores:</span> para la propiedad padding en CSS se aplica a los siguientes lados en este orden: parte superior, izquierda/derecha y parte inferior.</p>
            <Code codigo={codigo4} typeLan={cssLang}></Code>
            <p class="parrafo"><span class="res">Cuatro valores:</span> Si se especifican cuatro valores, se aplicarán al borde superior, derecho, inferior e izquierdo en ese orden. Por ejemplo:</p>
            <Code codigo={codigo5} typeLan={cssLang}></Code>


            <p class="parrafo"> padding (shorthand): Puedes especificar los valores para los cuatro lados en el mismo orden que las agujas del reloj, separados por espacios. </p>
            <h3 class="title-h3">Unidades admitidas para el valor del padding:</h3>
            <ul class="parrafo">
                <li>px(píxeles)</li>
                <li>em(tamaño relativo con respecto al tamaño de fuente del elemento)</li>
                <li>% (porcentaje del ancho del elemento)</li>
                <li>rem (tamaño relativo con respecto al tamaño de fuente del elemento raíz)</li>
                <li>vh (porcentaje del alto del viewport)</li>
                <li>vw (porcentaje del ancho del viewport)</li>
            </ul>
            <h3 class="title-h3">Elementos a los que se les puede aplicar padding</h3>
            <p class="parrafo">La propiedad padding se puede aplicar a casi todos los elementos HTML, incluyendo divs, párrafos, encabezados, imágenes y más.</p>
            <h3 class="title-h3">Herencia</h3>
            <p class="parrafo">La propiedad padding se hereda de manera similar a otras propiedades de CSS. Esto significa que los elementos secundarios generalmente heredarán el valor de relleno del elemento padre, a menos que se especifique lo contrario.</p>
            <h3 class="title-h3">Animable</h3>
            <p class="parrafo">Sí, la propiedad padding es animable utilizando transiciones o animaciones CSS.</p>
        </Articlep>
        <Articlep>
            <h2 class="title-h2">Width</h2>

            <p class="parrafo">width se utiliza para establecer el ancho de un elemento HTML, como un div, una imagen o un párrafo.</p>

            <p class="parrafo">Puedes definir el ancho de un elemento en diferentes unidades, como píxeles (px), porcentaje (%) o incluso en unidades relativas como "em" o "rem".</p>
            <p class="parrafo">Cuando estableces un valor fijo en píxeles, el ancho del elemento será constante. Por ejemplo:</p>
            <Code codigo={codigo6} typeLan={cssLang}></Code>
            <p class="parrafo">En este caso, el elemento con la clase <span class="res">.mi-elemento</span> tendrá un ancho de 200 píxeles.</p>
            <p class="parrafo">También puedes usar porcentajes para que el ancho sea relativo al ancho del elemento padre. Por ejemplo:</p>
            <Code codigo={codigo7} typeLan={cssLang}></Code>
            <p class="parrafo">En este caso, el elemento tomará la mitad del ancho de su elemento contenedor.</p>
            <h3 class="title-h3">Valor inicial</h3>
            <p class="parrafo">auto</p>

            <h3 class="title-h3">Elementos a los que se les puede aplicar width</h3>

            <p class="parrafo">El atributo width se puede aplicar a una amplia variedad de elementos HTML.</p>
           
            <h3 class="title-h3">Elementos a los que No se les puede aplicar width</h3>
            <p class="parrafo"><span class="res">Elementos en línea (Inline elements):</span></p>

            <p class="parrafo">Elementos como &lt;span&gt;, &lt;a&gt;, &lt;strong&gt;, &lt;em&gt;, &lt;abbr&gt;, &lt;code&gt;, &lt;time&gt;, etc., son elementos en línea que normalmente no tienen dimensiones visuales por sí mismos. Aplicar width a estos elementos puede no tener un efecto visible, a menos que se cambie su comportamiento de diseño con CSS (por ejemplo, usando display: block para convertirlos en elementos de bloque).</p>
            


            <p class="parrafo"><span class="res">Elementos de texto (Text elements):</span></p>
            <p class="parrafo">Los elementos de texto puro, como &lt;p&gt;, &lt;em&gt;, &lt;strong&gt;, &lt;span&gt;, etc., generalmente no se ven afectados por el atributo width. Su ancho se ajusta automáticamente al tamaño del contenido de texto dentro de ellos.</p>


            <p class="parrafo"><span class="res">Elementos estructurales sin contenido visible:</span></p>

            <p class="parrafo">Algunos elementos, como &lt;div&gt;, &lt;section&gt;, &lt;header&gt;, &lt;footer&gt;, &lt;nav&gt;, &lt;aside&gt; , entre otros, son elementos de bloque que se utilizan principalmente para estructurar el contenido de la página, pero no tienen contenido visible por sí mismos. Si no tienen contenido o contenido vacío, aplicar width a estos elementos no tendrá un impacto visual.</p>
            <p class="parrafo"><span class="res">Elementos de formulario sin contenido visible:</span></p>
            <p class="parrafo">    Elementos de formulario como &lt;form&gt;, &lt;fieldset&gt;, &lt;legend&gt;, etc., también pueden ser elementos de bloque sin contenido visual por sí mismos. Aplicar width a estos elementos puede no tener un efecto visible si no contienen elementos visuales (como campos de entrada o botones).</p>
        </Articlep>


        <Articlep>
            <h2 class="title-h2">Height (Alto):</h2>
            <p class="parrafo">height se utiliza para establecer la altura de un elemento HTML de manera similar a width, pero controla la dimensión vertical en lugar de la horizontal.</p>
            <p class="parrafo">Al igual que con width, puedes definir la altura en unidades como píxeles, porcentaje u otras unidades relativas.</p>
            <p class="parrafo">Ejemplo con píxeles:</p>
            <Code codigo={codigo8} typeLan={cssLang}></Code>
            <p class="parrafo">Esto establece la altura del elemento con la clase <span class="res">.mi-elemento</span> en 100 píxeles.</p>
            <p class="parrafo">Ejemplo con porcentaje:</p>
            <Code codigo={codigo9} typeLan={cssLang}></Code>
            <p class="parrafo">En este caso, la altura del elemento será la mitad de la altura de su elemento contenedor.</p>
            <h3 class="title-h3">Valor inicial</h3>
            <p class="parrafo">auto</p>
        </Articlep>


        <Articlep>
            <h2 class="title-h2">Margin</h2>
            <p class="parrafo">La propiedad margin en CSS se utiliza para controlar el espacio alrededor de un elemento HTML. Puedes definir márgenes para los cuatro lados de un elemento: superior, derecho, inferior e izquierdo. Aquí tienes una explicación y ejemplos de cómo funciona:</p>
            <p class="parrafo">La propiedad margin se puede especificar de las siguientes maneras:</p>
            <p class="parrafo"><span class="res">Margen individual para todos los lados:</span> Puedes definir un valor único para todos los lados del elemento. Por ejemplo:</p>
            <Code codigo={codigo10} typeLan={cssLang}></Code>
            <p class="parrafo">Esto aplicará un margen de 20 píxeles a todos los lados del elemento con la clase "ejemplo".</p>
            <p class="parrafo"><span class="res">Margen individual para cada lado:</span> Puedes definir márgenes específicos para cada lado del elemento en el siguiente orden: arriba, derecha, abajo e izquierda. Por ejemplo:</p>
            <Code codigo={codigo11} typeLan={cssLang}></Code>
            <p class="parrafo">Esto aplicará un margen de 10 píxeles en la parte superior, 20 píxeles a la derecha, 15 píxeles en la parte inferior y 5 píxeles a la izquierda del elemento con la clase "ejemplo".</p>
            <p class="parrafo"><span class="res">Margen en forma abreviada:</span> También puedes utilizar una forma abreviada para definir los márgenes de los cuatro lados en un solo valor. Por ejemplo:</p>
            <Code codigo={codigo12} typeLan={cssLang}></Code>
            <p class="parrafo">Esto es equivalente a la definición individual de márgenes para cada lado en el ejemplo anterior.</p>
            <p class="parrafo">Además, puedes usar valores relativos como porcentajes o valores absolutos como píxeles o ems para definir los márgenes. También puedes combinar estas propiedades para crear diseños más complejos.</p>
            <h3 class="title-h3">Elementos a los que se les puede aplicar margin</h3>
            <p class="parrafo">La propiedad margin se puede aplicar a casi todos los elementos HTML, incluyendo divs, párrafos, encabezados, imágenes y más.</p>
            <h3 class="title-h3">Herencia</h3>
            <p class="parrafo"> La propiedad margin en CSS no es heredable.</p>
            <h3 class="title-h3">Animable</h3>
            <p class="parrafo">Sí, la propiedad margin es animable utilizando transiciones o animaciones CSS.</p>   
        </Articlep>

        <Articlep>
          <h2 class="title-h2">border</h2>
          <p class="parrafo"> La propiedad border en CSS se utiliza para definir el borde de un elemento HTML, como un div, un botón o cualquier otro elemento de bloque. Un borde es una línea que rodea un elemento y puede tener diferentes propiedades, como ancho, estilo y color. La propiedad border se compone de tres subpropiedades principales que permiten controlar estas características:</p>
          <ol class="parrafo">
            <li> border-width</li>
            <li>border-style</li>
            <li> border-color</li>
          </ol>
          <p class="parrafo">A continuación, te explico cada una de ellas:</p>


          <h2 class="title-h2">border-width</h2>
          <p class="parrafo"><span class="res">border-width:</span> Esta subpropiedad se utiliza para establecer el ancho del borde. Puedes definirlo con un valor en píxeles, ems, porcentajes u otras unidades de medida.</p>
          <p class="parrafo"><span class="res">Valor único:</span> Puedes establecer un valor único para todos los lados del elemento. Por ejemplo:</p>
          <Code codigo={codigo13} typeLan={cssLang}></Code>
          <p class="parrafo">Esto aplicará un borde de 2 píxeles de ancho en todos los lados del elemento.</p>

          <p class="parrafo"><span class="res">Dos valores:</span> Si especificas dos valores, estos se aplicarán al borde superior/inferior y al borde izquierdo/derecho por igual. Por ejemplo:</p>
          <Code codigo={codigo17} typeLan={cssLang}></Code>
          <p class="parrafo"><span class="res">Tres valores:</span> También puedes especificar tres valores para controlar el ancho de los bordes de la siguiente manera:</p>
         
          <Code codigo={codigo18} typeLan={cssLang}></Code>
          <p class="parrafo">Esto aplicará un borde de 2 píxeles de ancho en la parte superior, 1 píxel en los lados derecho e izquierdo, y 3 píxeles en la parte inferior.</p>
          <p class="parrafo"><span class="res">Cuatro valores:</span> Puedes especificar cuatro valores para controlar el ancho de cada borde de manera individual, en el orden superior, derecho, inferior e izquierdo. Por ejemplo:</p>
          <Code codigo={codigo19} typeLan={cssLang}></Code>
          <ul class="parrafo">
            <li>El primer valor se aplica al borde superior.</li>
            <li>El segundo valor se aplica a los bordes izquierdo y derecho.</li>
            <li>El tercer valor se aplica al borde inferior.</li>
          </ul>
          <p class="parrafo">Esto aplicará un borde de 2 píxeles de ancho en la parte superior, 1 píxel en la derecha, 3 píxeles en la parte inferior y 4 píxeles en la izquierda.</p>


          <p class="parrafo"> Puedes utilizar esta propiedad junto con las propiedades border-top-width, border-right-width, border-bottom-width y border-left-width para definir el ancho de cada borde de manera individual. Esto te permite personalizar los anchos de los bordes en los cuatro lados de un elemento. Aquí está cómo se utiliza cada una de estas propiedades:</p>

          <ul class="parrafo">
            <li><span class="res">border-top-width</span>Define el ancho del borde superior del elemento.</li>
            <li><span class="res">order-right-width</span>Establece el ancho del borde derecho del elemento.</li>
            <li><span class="res">border-bottom-width</span>Define el ancho del borde inferior del elemento.</li>
            <li><span class="res">border-left-width</span>Establece el ancho del borde izquierdo del elemento.</li>
          </ul>
          <p class="parrafo">Cada una de estas propiedades puede aceptar valores en diferentes unidades de medida, como píxeles, ems, porcentajes, etc. Por ejemplo:</p>


          <Code codigo={codigo20} typeLan={cssLang}></Code>

          <p class="parrafo" style="
          border-style: solid;
          border-top-width: 10px;
          border-right-width: 5px;
          border-bottom-width: 1px;
          border-left-width: 15px; padding:20px">border-top-width: 10px;<br>
          border-right-width: 5px;<br>
          border-bottom-width: 1px;<br>
          border-left-width: 15px;
        </p>

          <p class="parrafo">En este ejemplo, hemos definido anchos de borde diferentes para cada lado del elemento. El borde superior tiene un ancho de 10 píxeles, el derecho de 5 píxeles, el inferior de 1 píxel y el izquierdo de 15 píxeles. Esto permite una mayor flexibilidad en el diseño y te permite controlar de manera precisa cómo se ven los bordes de tu elemento.</p>
         



          <h2 class="title-h2">border-style</h2>
          <p class="parrafo"><span class="res">border-style:</span> Esta subpropiedad se usa para especificar el estilo del borde. Puedes elegir entre varios estilos, como solid (sólido), dashed (guiones), dotted (puntos), double (doble línea), entre otros. Por ejemplo:</p>
          <Code codigo={codigo14} typeLan={cssLang}></Code>
          <p class="parrafo">Esto crea un borde con líneas discontinuas.</p>
          <h3 class="title-h3">Ejemplos de border-style</h3>
          <p class="parrafo" style="border-style: none; padding:20px">border-style: none;</p>
          <p class="parrafo" style="border-style: hidden; padding:20px">border-style: hidden;</p>
          <p class="parrafo" style="border-style: dotted; padding:20px">border-style: dotted;</p>
          <p class="parrafo" style="border-style: dashed; padding:20px">border-style: dashed;</p>
          <p class="parrafo" style="border-style: solid; padding:20px">border-style: solid;</p>
          <p class="parrafo" style="border-style: double; padding:20px">border-style: double;</p>
          <p class="parrafo" style="border-style: groove; padding:20px">border-style: groove;</p>
          <p class="parrafo" style="border-style: ridge; padding:20px">border-style: ridge;</p>
          <p class="parrafo" style="border-style: inset; padding:20px">border-style: inset;</p>
          <p class="parrafo" style="border-style: outset; padding:20px">border-style: outset;</p>
          <Code codigo={codigo15} typeLan={cssLang}></Code>
          

          <p class="parrafo" class="parrafo">También puedes utilizar las propiedades border-style con border-top-style, border-right-style, border-bottom-style y border-left-style para definir estilos de borde específicos para cada lado de un elemento en CSS.</p>
          <p class="parrafo" class="parrafo">Cuando trabajas con estas propiedades, puedes establecer estilos de borde diferentes para cada lado de un elemento, es decir, el borde superior, el derecho, el inferior y el izquierdo. Aquí tienes cómo se hace:</p>

          <p class="parrafo" style="border-top-style: solid;
          border-right-style: dotted;   
          border-bottom-style: dashed;  
          border-left-style: double; padding:20px">border-top-style: solid;<br>
          border-right-style: dotted;<br>   
          border-bottom-style: dashed;<br> 
          border-left-style: double;
        </p>
        <Code codigo={codigo16} typeLan={cssLang}></Code>
          
          <p class="parrafo" class="parrafo">En este ejemplo, hemos asignado diferentes estilos de borde a cada lado de un elemento. El borde superior es sólido, el borde derecho es punteado, el borde inferior es discontinuo y el borde izquierdo es doble.</p>
          <p class="parrafo" class="parrafo">Puedes utilizar cualquier estilo de borde válido en cada propiedad (border-top-style, border-right-style, border-bottom-style, border-left-style) para personalizar los bordes según tus necesidades. Esto es especialmente útil cuando deseas crear diseños detallados y precisos en tu sitio web.</p>
          <p class="parrafo" class="parrafo"></p>

          <h2 class="title-h2">border-color</h2>
          <p class="parrafo">La propiedad border-color se utiliza para establecer el color de los bordes de un elemento HTML. Esta propiedad puede tomar uno o más valores para especificar el color de todos los lados del elemento o de manera individual para cada lado. A continuación, describiré las diferentes formas de utilizar estas propiedades:</p>



          <p class="parrafo"><span class="res">Valor único:</span> Puedes establecer un valor único para todos los lados del elemento. Por ejemplo:</p>
          <Code codigo={codigo21} typeLan={cssLang}></Code>
          <p class="parrafo">Esto aplicará un borde de 2 píxeles de ancho en todos los lados del elemento.</p>

          <p class="parrafo"><span class="res">Dos valores:</span> Si especificas dos valores, estos se aplicarán al borde superior/inferior y al borde izquierdo/derecho por igual. Por ejemplo:</p>
          <Code codigo={codigo22} typeLan={cssLang}></Code>
          <p class="parrafo"><span class="res">Tres valores:</span> También puedes especificar tres valores para controlar el ancho de los bordes de la siguiente manera:</p>
          <Code codigo={codigo23} typeLan={cssLang}></Code>
          <p class="parrafo"><span class="res">Cuatro valores (para cada lado individual):</span>Si proporcionas cuatro valores, se aplican respectivamente al borde superior, derecho, inferior e izquierdo.</p>
          <Code codigo={codigo24} typeLan={cssLang}></Code>
          
          
          
          <p class="parrafo"> border-top-color, border-right-color, border-bottom-color y border-left-color para definir colores de borde en cada lado de un elemento individualmente:</p>
          <Code codigo={codigo25} typeLan={cssLang}></Code>
          <p class="parrafo" style="
          border-style: solid;
          border-top-color: #FF0000;
          border-right-color: #00FF00;
          border-bottom-color: #0000FF;
          border-left-color: #FFFF00; padding:20px">border-top-color: #FF0000;<br>
        border-right-color: #00FF00;<br>
        border-bottom-color: #0000FF;<br>
        border-left-color: #FFFF00;
        </p>
          <p class="parrafo">En este ejemplo, hemos asignado colores diferentes a cada lado del elemento. El color rojo se aplica al borde superior, el verde al borde derecho, el azul al borde inferior y el amarillo al borde izquierdo.</p>
          <p class="parrafo">Puedes personalizar los colores según tus necesidades de diseño utilizando valores de color en diferentes formatos, como nombres de colores, códigos hexadecimales, valores RGB, valores RGBA, valores HSL o valores HSLA. Esto te permite tener un control preciso sobre cómo se ven los bordes de tus elementos HTML en cada lado.</p>
          <h2 class="title-h2">Definiendo Estilo, Ancho y Color de Bordes en CSS</h2>
          <p class="parrafo">La propiedad border en CSS es un atajo versátil que permite definir el estilo, el ancho y el color de los bordes de un elemento HTML en una sola declaración. Esto simplifica el proceso de personalizar la apariencia de los bordes de un elemento, ya que se pueden especificar estos tres aspectos clave en un solo lugar. Puedes utilizar border con un solo valor para aplicar el mismo estilo, ancho y color a los cuatro lados del elemento, o puedes proporcionar valores individuales para cada lado en el orden superior, derecho, inferior e izquierdo. Esto ofrece una mayor flexibilidad en el diseño de páginas web y facilita la creación de elementos con bordes personalizados y atractivos.</p>
          <p class="parrafo"><span class="res">Especificando un solo valor para todos los lados:</span> Puedes definir el ancho, el estilo y el color del borde en un solo valor, y esto se aplicará a los cuatro lados del elemento. Por ejemplo:</p>
          <Code codigo={codigo26} typeLan={cssLang}></Code>
          
          
          <p class="parrafo"><span class="res">Especificando valores para cada lado individualmente: </span>
            También puedes proporcionar valores separados para cada lado en el orden: superior, derecho, inferior e izquierdo. Por ejemplo:</p>
            <Code codigo={codigo27} typeLan={cssLang}></Code>
          <p class="parrafo">En este ejemplo, los valores se aplican de la siguiente manera:</p>
          <ul class="parrafo">
            <li>Borde superior: 1 píxel de ancho, estilo discontinuo (dashed), color verde (#00FF00).</li>
            <li>Borde derecho: 2 píxeles de ancho, estilo doble (double), color azul (#0000FF).</li>
            <li>Borde inferior: 3 píxeles de ancho, estilo en relieve (groove), color amarillo (#FFFF00).</li>
            <li>Borde izquierdo: 4 píxeles de ancho.</li>
          </ul>
          <p class="parrafo">Estos ejemplos muestran cómo puedes utilizar la propiedad border para definir de manera compacta el ancho, el estilo y el color de los bordes de tus elementos HTML. Puedes personalizar los valores de acuerdo con tus necesidades de diseño, ya sea aplicando un solo conjunto de valores a todos los lados o configurando valores individuales para cada lado.</p>
          
        </Articlep>

    </main>
</Layout>

<style>
    .img{
        min-width: 250px;
        max-width: 900px;
        overflow: auto;
    }


 
</style>