---
import Layout from '../layouts/Layout.astro';
import Code from '../components/Code.astro';
import Addimagen from  '../components/Addimagen.astro';
import Articlep from '../components/Articlep.astro';



const title ="CURSO CSS";


const javascriptLang = "language-javascript line-numbers";
const htmlLang = "language-html line-numbers";
const cssLang = "language-css line-numbers";
const codeHtml = `<html>
					<head>
					<!-- href ="aqui entre las comillas se coloca la ruta del archivo" -->
					<link rel="stylesheet" href="styles/style.css"> 
					</head>
					<body>			
					</body>
				</html>`;

const codecss = `
				.codigo{
					font-size: 2rem;
					color: #1223A9;

				}
`;

interface Providers{
	data:string;
	contenido:string;
}

const probandoVariable = '<p>hola desde parrafo</p>';

const codigo1 =`
selector {
  propiedad1: valor1;
  propiedad2: valor2;
}`;
const codigo2 =`
p {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
 `;

 const codigo3=`
 /*
Este es un comentario y no
será tenido en cuenta por el navegador
*/


/*Aquí estoy aplicando un estilo a la clase nombre,
el color es azul*/
.nombre{
  color: blue;
}
 `;
---

<Layout title="Curso css">

	<main>

		<h1 class="title-h1">CURSO CSS</h1>

		<Articlep>
			<h2 class="title-h2">¿Qué es CSS?</h2>
			<p class="parrafo">CSS (Cascading Style Sheets) es un lenguaje de hojas de estilo utilizado para describir la presentación y el aspecto visual de un documento HTML o XML. Es una tecnología fundamental en el desarrollo web y permite controlar la apariencia de los elementos en una página web, como el color de fondo, el tamaño de la fuente, la disposición de los elementos, los márgenes, el espaciado y muchos otros aspectos visuales.</p>
			<p class="parrafo">CSS trabaja en conjunto con HTML para separar la estructura y el contenido de un documento web de su estilo. Mientras que HTML se encarga de definir los elementos y la estructura de una página web, CSS se utiliza para aplicar estilos y diseñar cómo se mostrarán esos elementos en la pantalla.</p>
		</Articlep>


		<Articlep>
			<h2 class="title-h2">¿Como lo agrego a mi proyecto?</h2>

			<p class="parrafo">En el proyecto donde tengas tu codigo html, por lo general creas una carpeta nueva de nombre styles, dentro de esta carpeta crear un archivo de extension css.</p>

			<!-- <img src="../assets/agregar_archivo_css.jpg" height="400px"> -->
			<Addimagen direccion='../assets/agregar_archivo_css.jpg'></Addimagen>
			<p class="parrafo">Para agregar CSS a un proyecto web, puedes seguir estos pasos generales:</p>
			<p class="parrafo">Crear un archivo CSS: Primero, crea un archivo CSS separado con extensión ".css". Puedes nombrarlo como desees, por ejemplo, "style.css". Este archivo contendrá todas las reglas y estilos que deseas aplicar a tu proyecto. </p>
			<p class="parrafo"> Vincular el archivo CSS: Abre tu archivo HTML en un editor de texto y agrega una etiqueta en la sección . Dentro de la etiqueta , establece el atributo "href" para apuntar al archivo CSS que creaste en el paso anterior. Por ejemplo: </p>
			<p class="parrafo"> Asegúrate de que el atributo "href" apunte correctamente al archivo CSS y esté en la misma ubicación o ruta relativa adecuada. </p>
			<Code codigo={codeHtml} typeLan={htmlLang}></Code>
		</Articlep>

		<Articlep>
			<h2 class="title-h2">Esctructura CSS</h2>
			<p class="parrafo">Las reglas CSS se utilizan para aplicar estilos a los elementos HTML en una página web. Cada regla CSS consta de dos partes principales: un selector y un bloque de declaración. Aquí tienes la estructura básica de una regla CSS:</p>
			<Addimagen direccion={'../assets/estructura_css.jpg'}></Addimagen>
			<p class="parrafo"> Selector: El selector apunta a los elementos HTML a los que se aplicarán los estilos. Puede ser el nombre de un elemento, una clase, un identificador, un atributo o incluso una combinación de ellos. Aquí tienes algunos ejemplos:</p>
			<ul class="parrafo">
				<li>Nombre de elemento: p selecciona todos los elementos <span class="res">&lt;p&gt;</span>.</li>
				<li> Clase: .clase selecciona todos los elementos con la clase CSS "clase".</li>
				<li> Identificador: #id selecciona el elemento con el identificador CSS "id".</li>
			</ul>
			<p class="parrafo"> Bloque de declaración: El bloque de declaración está contenido entre llaves { } y contiene una o más declaraciones separadas por punto y coma ;. Cada declaración consta de una propiedad y su valor, separados por dos puntos :. Aquí tienes un ejemplo: </p>
			<Code codigo={codigo1} typeLan={cssLang}></Code>
			<p class="parrafo"> Las propiedades representan los aspectos que deseas cambiar, como el color del texto, el tamaño de la fuente, el margen, el fondo, etc. Los valores son los ajustes específicos que deseas aplicar a esas propiedades, como "rojo" para el color del texto, "14px" para el tamaño de la fuente, etc. </p>
			<p class="parrafo"> Por ejemplo: </p>
			<Code codigo={codigo2} typeLan={cssLang}></Code>

			<p class="parrafo">En este caso, se aplicarían los estilos a todos los elementos <span class="res">&lt;p&gt;</span>, estableciendo el color del texto en rojo, el tamaño de la fuente en 14 píxeles y el margen superior en 10 píxeles. </p>
		</Articlep>
		<Articlep>
			<h2 class="title-h2">Comentarios En CSS </h2>
			<p class="parrafo"> Un comentario de código CSS es una línea o bloque de texto que se utiliza para explicar o documentar partes del código CSS. Estos comentarios no afectan la forma en que se renderiza el sitio web, ya que son ignorados por el navegador. </p>
			<p class="parrafo"> Los comentarios de CSS son útiles para hacer notas sobre el propósito o la función de ciertas reglas CSS, así como para proporcionar información adicional a otros desarrolladores que pueden trabajar en el mismo código más adelante. </p>
			<p class="parrafo"> Hay un tipo de comentarios en CSS: </p>
			<p class="parrafo"> Se inician con <span class="res">/*</span> y se cierran con <span class="res">*/</span>. Todo lo que se encuentra entre estas marcas se considera un comentario y no se ejecutará. Por ejemplo: </p>
			<Code codigo={codigo3} typeLan={cssLang}></Code>
			<p class="parrafo"> Recuerda que esta es solo una estructura básica, y CSS ofrece muchas más opciones y propiedades para personalizar los estilos de tus elementos HTML. </p>
		</Articlep>


	

	
	</main>
	
	

	
	
	

</Layout>


<style>

	body{
		margin: 0;
	}

	

	.cat-2{
		color: blue;
		font-size: 2rem;
	}

	.title-h1{
		font-size: 4rem;
		color: white;

	}

	.paf{
		font-size: 1.5rem;
	}

	.image{
		min-width: 300px;
		max-width: 700px;
		overflow: auto;
	}

	.code-css{
        min-width: 280px;
        max-width: 700px;
        color: white;
        background-color: #262626;
        overflow: auto;
        font-size: 1rem;
        margin-bottom: 10px;
    }


	
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	
	


</style>
